<h2 id="h2Titulo" class="page-header row lighter blue smaller" 
    data-etiqueta-procesando="@Resources.EtiquetaResource.Procesando"
    data-url-audio-alerta ="@Url.Content("~/Content/audio/notification/alert-notification.mp3")">
    <span class="col-sm-7">
        @ViewBag.Title
    </span>
    <span class="col-sm-5">
        <label class="pull-right inline">
            <small title="Mostrar Alertas" class="muted bolder">Alertas:</small>
            <input id="chkMostarAlerta" type="checkbox" checked class="ace ace-switch ace-switch-5">
            <span class="lbl middle"></span>
        </label>
    </span>
</h2>